html, body {
  overflow: hidden; /* Prevents scrolling on the page */
  height: 100%; /* Sets the height of the page to the viewport height */
}

body {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: calc(
    100vh - 32px
  ); /* Adjust 32px to your total vertical padding */
  margin: 0; /* Remove default margin */
}
.container {
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.text {
  color: rgb(248, 145, 162);
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.50rem; /* Equivalent to 20px if the root font size is 16px */
}
.s-text {
  color: rgb(253, 164, 179);
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 0.75rem; /* Equivalent to 20px if the root font size is 16px */
}
.div-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers its children horizontally */
  justify-content: center; /* This centers its children vertically, if needed */
  padding-left: 1.5rem; /* 24px */
  padding-right: 1.5rem; /* 24px */
  padding-top: 1rem; /* 16px */
  padding-bottom: 1rem; /* 16px */
}
.img {
  max-width: 100%; /* Ensures the image is no wider than its container */
  display: block; /* Replace flex display with block for direct img styling */
  margin: 0 auto; /* Center the image horizontally if it's a block element */
  margin-bottom: 1.25rem; /* Equivalent to my-5 in Tailwind */
}
#show {
  height: 50px; /* Increase the height */
  width: 50px; /* Increase the width */
  background-color: transparent; /* Make the background transparent */
  border: none; /* Remove the border */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  font-size: 120px; /* Adjust the font size as needed */
}
.dialog {
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: space-between; /* Distribute space, but you can adjust as needed */
  /* Existing styles */
  background-color: pink;
  padding: 35px;
  border-radius: 8px;
  width: 250px;
  height: 200px;
  overflow: auto;
}

.dialog-content {
  /* New style for the inner container */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

/* From Uiverse.io by mrhyddenn */ 
button {
  background: #f08fc0;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

span {
  display: inline-block;
  transform: skew(21deg);
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(71, 12, 62);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

button:hover {
  color: #fff;
}

button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

dialog[open] {
  -webkit-animation: show 1s ease normal;
}
@-webkit-keyframes show {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY(0%);
  }
}
.right-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%; /* Ensure it takes the full width of its parent */
  text-align: right; /* This aligns the text to the right */
}
.button-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensure it spans the full width of the dialog */
}
